#### Generar Listas

##### Forma Clásica de generar una lista

In [1]:
numeros = []

for i in range (1, 6):
    numeros.append(i**2)
    
numeros

[1, 4, 9, 16, 25]

##### Generar una lista con map()

In [2]:
list(map(lambda x: x**2, range(1,6)))

[1, 4, 9, 16, 25]

##### List Comprehension (más performante?)

In [1]:
[i**2 for i in range (1,6)]

[1, 4, 9, 16, 25]

In [2]:
[i**2 for i in range (1,50) if i%2 == 0]

[4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304]

In [3]:
[i**2 if i%2 == 0 else i**3 for i in range (1,10)]

[1, 4, 27, 16, 125, 36, 343, 64, 729]